<div id="event-<%= event.id %>" class="micropost">
  <div class="content">
    <div class="post-content">
      <div class="post">
          <b>EVENT:</b> <%= event.event_text %>
      </div>
    </div>
    <div class="time-content">
        <span> <b>WHEN:</b> <%= event.time.to_formatted_s(:short) %></span>
    </div>
  </div>
  <div class="actions">
    <div class="actions-content">
      <% if event.user == current_user %>
        <%= link_to event_path(event), method: :delete, remote: true do %>
          <i class="fa fa-trash"></i>
        <% end %>
        <%= link_to 'Edit', edit_event_path(event) %>
      <% end %>
    </div>
  </div>
</div>